# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# C++ intermediate/output files
*.pdb
*.ilk
*.idb
*.obj
*.pch
*.ipch
*.tlog
*.lastbuildstate

# NuGet
packages/
*.nupkg
artifacts/

# ReSharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Logs
*.log